.top-heading {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(24, 52, 78);
    margin-bottom: 1.5rem;
}

.top-heading h3 {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 0;
    height: 50px;
    color: #ddd;

}

.top-card {
    margin-left: 3rem;
    border: 1px solid #ddd;
    width: 92%;
    background-color: rgb(216, 209, 195);
    border-radius: 10px;
    height: 500px;
    
}



.header-img {
    width: 95%;
    height: 300px;
    margin: 0 20px;
    padding: 20px;
    border-radius: 27px;
    object-fit: cover;
    object-position: center;
}

.top-card h2,p {
    font-weight: lighter;
    margin-left: 1.2rem;
}

@media (min-width: 768px) and (max-width: 1100px) {
    /* For tablets and small desktops: */
    .top-card {
        width: 87%;
    }

    .header-img {
        width: 90%;
    }

}


@media (max-width: 768px) {
    /* For mobile phones: */
    .top-card {
        display: none;
    }
}